<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>jQuery UI Draggable - Snap to element or grid</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="/lib/resources/css/application.css" />
    <style>
      .draggable { width: 130px; height: 120px; padding: 5px; float: left; margin: 0 10px 10px 0; font-size: .9em; }
      .dropped { width: 130px; height: 120px; padding: 5px; float: left; margin: 0 10px 10px 0; font-size: .9em; }
      .ui-widget-header p, .ui-widget-content p { margin: 0; }
      #snaptarget { height: 940px; width: 1000px; }
        .grid {width: 20px; height: 20px}
      table {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
      }
      tr {
        padding: 3px;
      }

      #tiles-container {
        width: 1000px;
        height: 200px;
        background-color: #563616;
      }

      .ui-state-disabled {
        opacity: 1;
      }
      
      #mountain {
        background: url('/images/mountain.svg');
      }

      #mountain_1 {
        background: url('/images/mountain.svg');
      }

      #goldMine {
        background: url('/images/goldmine.png');
      }

      #dragon {
        background: url('/images/dragon.png');
      }

      #negativeSix {
        background: url('/images/6.png');
      }
      #positiveSix {
        background: url('/images/6.png');
      }
      #positiveSix_1 {
        background: url('/images/6.png');
      }

      #negativeFive {
        background: url('/images/5.jpg');
      }
      #positiveFive {
        background: url('/images/5.jpg');
      }
      #positiveFive_1 {
        background: url('/images/5.jpg');
      }

      #negativeFour {
        background: url('/images/4.jpg');
      }
      #positiveFour {
        background: url('/images/4.jpg');
      }
      #positiveFour_1 {
        background: url('/images/4.jpg');
      }

      #negativeThree {
        background: url('/images/3.jpg');
      }
      #positiveThree {
        background: url('/images/3.jpg');
      }
      #positiveThree_1 {
        background: url('/images/3.jpg');
      }

      #negativeTwo {
        background: url('/images/2.jpg');
      }
      #positiveTwo {
        background: url('/images/2.jpg');
      }
      #positiveTwo_1 {
        background: url('/images/2.jpg');
      }

      #negativeOne {
        background: url('/images/1.jpg');
      }
      #positiveOne {
        background: url('/images/1.jpg');
      }
      #positiveOne_1 {
        background: url('/images/1.jpg');
      }

      .castle {
        background-image: url('/images/castle-32.gif');
      }
      .red-castle {
        background-color: red;
      }
      .blue-castle {
        background-color: blue;
      }
      .green-castle {
        background-color: green;
      }
      .yellow-castle {
        background-color: yellow;
      }

      td {
        border-style: solid;
        border-color: black;
        border-width: 17px;
        background: url('/images/grass.jpg');
        padding-top: 118px;
        padding-left: 138px;
      }
      #castle-container {
        float: right;
        height: 895px;
        width: 200px;
        background-color: blue;
      }
      div.draggable p {
        font-weight: bold;
        color: rgb(245, 102, 6);
        font-size: 28px;
        text-align: center;
        vertical-align: middle;
      }

    </style>
    <script>
      app = {};

      $(function() {

        $("#new_game").button({text:false}).click(function() {
          clearBoard();
          app.startedGame = true;
          app.playerCastles = {};
          numberOfPlayers();
          generateTiles();
          var tile = app.tiles.pop();

          $("#tiles-container").append("<div id='" + tile.name + "' class='draggable tile'><p>" + tile.text + "</p></div>");
          $("#tiles-container #" + tile.name + "").draggable({ revert: "invalid", containment: "document", cursor: "move"  });
        });
        $("#castle").button({text:false}).click(function() {
          if (app.startedGame) {
          selectCastle();
          } else {
            alert("Must start a new game.");
          }
        });

        $("#tile").button({text:false}).click(function() {
          if (app.startedGame) {
            var tile = app.tiles.pop();
            $("#tiles-container").append("<div id='" + tile.name + "' class='draggable tile'><p>" + tile.text + "</p></div>")
            $("#tiles-container #" + tile.name + "").draggable({ revert: "invalid", containment: "document", cursor: "move"  });

          } else {
            alert("Must start a new game.");
          }

          if (app.tiles.length == 0) {
            $("#tile").button({'disabled': true});
          }

        });

        $( "td.grid").droppable({accept: ".ui-draggable", drop: function( event, ui ) {
          $( "#dialog-confirm" ).dialog({
            resizable: false,
            height:180,
            modal: true,
            buttons: {
              "Finish": function() {
                var id = "#" + ui.helper[0].id;
                $(id).draggable("disable");
                $( this ).dialog( "close" );
                changePlayer();
                alert("It is " + app.currentPlayer + "\'s turn")
              },
              Cancel: function() {
                var id = "#" + ui.helper[0].id;
                $(id).css('left', 0);
                $(id).css('top', 0);
                $( this ).dialog( "close" );
              }
            }
          });
        }});

      });
    </script>
  </head>
  <body>

    <div id="dialog-confirm" title="Finish Move?" class="hidden">
      <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Are you sure?</p>
    </div>

    <div id="number-players" title="Number Players?" class="hidden">
      <p><span style="float: left; margin: 0 7px 20px 0;"></span></p>
    </div>

    <div id="select-castle" title="Castle Multiplier?" class="hidden">
      <p><span style="float: left; margin: 0 7px 20px 0;"></span></p>
    </div>

    <div id="toolbar" class="ui-widget-header ui-corner-all">
      <button id="new_game">New Game</button>
      <button id="castle">Castle</button>
      <button id="tile">Tile</button>
    </div>


    <div id="snaptarget" class="ui-widget-header" style="float:left">
      <table>
        <tr>
          <td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td>
        </tr>
        <tr>
          <td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td>
        </tr>
        <tr>
          <td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td>
        </tr>
        <tr>
          <td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td>
        </tr>
        <tr>
          <td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td><td class='grid'></td>
        </tr>
      </table>
    </div>
    <div id="castle-container" style="float:right;">
    </div>

    <br style="clear: both;" />

    <div id="tiles-container">
    </div>


    <script>
      function clearBoard() {
        $.each($('.tile'), function(index, tile) {
          tile.remove();
        });

        $.each($('.castle'), function(index, castle) {
          castle.remove();
        });
      }

      function generateTiles() {
        var randomNumbers = generateRandomNumbers(22);

        $.each(tiles, function(index, tile) {
          tile['random'] = randomNumbers[index];
        });

        tiles.sort(function(a,b) {
          return a.random - b.random
        });
        app.tiles = tiles;
      }

      function generateRandomNumbers(max) {
        var arr = [];
        while(arr.length < max) {
          var randomNumber = Math.ceil(Math.random()*100);
          var found = false;
          for (var i=0; i < arr.length; i++) {
            if (arr[i] == randomNumber){found=true;break}
          }
          if (!found) arr[arr.length]=randomNumber;
        }
        return arr;
      }

      function numberOfPlayers() {
        $( "#number-players").dialog({
          resizable: false,
          height:140,
          modal: true,
          buttons: {
            "2": function() {
              setupPlayers(2, this);
            },
            "3": function() {
              setupPlayers(3, this);
            },
            "4": function() {
              setupPlayers(4, this);
            }
          }
        });
      }

      function setupPlayers(numPlayers, dialogBox) {
        var players = getPlayerColors(numPlayers);
        // Not a great random algorithm, but it works for our purposes
        app.players = players.sort(function() { return 0.5 - Math.random();});
        app.currentPlayer = app.players[0];
        var castles = generateCastles(numPlayers);
        for (var i = 0; i < castles.length; i++) {
          app.playerCastles[castles[i].color] = {'castles' : castles[i].castles}
        }
        $( dialogBox ).dialog( "close" );
        alert("It is " + app.currentPlayer + "\'s turn");

      }

      function selectCastle() {
        $( "#select-castle").dialog({
          resizable: false,
          height:140,
          modal: true,
          buttons: {
            "1": function() {

              getCastle(1, this);
            },
            "2": function() {
              getCastle(2, this);
            },
            "3": function() {
              getCastle(3, this)
            },
            "4": function() {
              getCastle(4, this)
            }
          }
        });
      }

      function getCastle(type, dialogBox) {
        var player = getCurrentPlayer();
        var castles = app.playerCastles[player].castles;
        var castle;
        for (var i=0; i<castles.length; i++) {
          if (castles[i].value === type.toString()) {
            castle = castles[i];
            var tmp = [];
            for (var j=0; j<castles.length; j++) {
              if (castles[j].id != castle.id) {
                tmp.push(castles[j])
              }
            }
            app.playerCastles[player].castles = tmp;
            break
          }
        }
        $( dialogBox ).dialog( "close" );
        $("#castle-container").append("<div id='" + player + "-" + castle.name + "' class='draggable castle'><p>" + castle.name + "</p></div>");
        $("#" + player + "-" + castle.name).addClass(player + "-castle");
        $("#castle-container #" + player + "-" + castle.name + "").draggable({ revert: "invalid", containment: "document", cursor: "move"  });
      }

      function changePlayer() {
        for(i = 0; i < app.players.length; i++) {
          if (app.currentPlayer === app.players[i]) {
            if ( (i + 1) === app.players.length) {
              app.currentPlayer =  app.players[0];
              break
            } else {
              app.currentPlayer = app.players[i+1];
              break
            }
          }
        }
      }

      function getCurrentPlayer() {
        return app.currentPlayer;
      }

      function getPlayerColors(numPlayers) {
        switch(numPlayers) {
          case 2:
            return ['red', 'blue'];
          case 3:
            return ['red', 'blue', 'yellow'];
          case 4:
            return ['red', 'blue', 'yellow', 'green'];
        }
      }

      function generateCastles(players) {
        var playerCastles = [];
        var colors = getPlayerColors(players);
        for (var i=0; i < players; i++) {
          var color = colors[i];
          for(var j = 0; j< castles.length; j++) {
            var castle = castles[j];
            castle['color'] = color;
          }
          playerCastles.push({color: color, castles: castles});
        }
        return playerCastles
      }

      var castles = [
        {
          id    : 0,
          name  : 'oneCastle',
          value : '1',
          color : 'red'
        },
        {
          id    : 1,
          name  : 'oneCastle_1',
          value : '1',
          color : 'red'
        },
        {
          id    : 2,
          name  : 'oneCastle_2',
          value : '1',
          color : 'red'
        },
        {
          id    : 3,
          name  : 'oneCastle_3',
          value : '1',
          color : 'red'
        },
        {
          id    : 4,
          name  : 'twoCastle',
          value : '2',
          color : 'red'
        },
        {
          id    : 5,
          name  : 'twoCastle_1',
          value : '2',
          color : 'red'
        },
        {
          id    : 6,
          name  : 'twoCastle_2',
          value : '2',
          color : 'red'
        },
        {
          id    : 7,
          name  : 'threeCastle',
          value : '3',
          color : 'red'
        },
        {
          id    : 8,
          name  : 'threeCastle_1',
          value : '3',
          color : 'red'
        },
        {
          id    : 9,
          name  : 'fourCastle',
          value : '4',
          color : 'red'
        }
      ];


      var tiles  = [
        {
          id     : 0,
          name   : 'positiveSix',
          icon   : 'images/6.png',
          value  : '6',
          text   : '+6',
          random : 1,
          status : 'store'
        },
        {
          id     : 1,
          name   : 'positiveSix_1',
          icon   : 'images/6.png',
          value  : '6',
          text   : '+6',
          random : 1,
          status : 'store'
        },
        {
          id     : 2,
          name   : 'positiveFive',
          icon   : 'images/5.jpg',
          value  : '5',
          text   : '+5',
          random : 1,
          status : 'store'
        },
        {
          id     : 3,
          name   : 'positiveFive_1',
          icon   : 'images/5.jpg',
          value  : '5',
          text   : '+5',
          random : 1,
          status : 'store'
        },
        {
          id     : 4,
          name   : 'positiveFour',
          icon   : 'images/4.jpg',
          value  : '4',
          text   : '+4',
          random : 1,
          status : 'store'
        },
        {
          id     : 5,
          name   : 'positiveFour_1',
          icon   : 'images/4.jpg',
          value  : '4',
          text   : '+4',
          random : 1,
          status : 'store'
        },
        {
          id     : 6,
          name   : 'positiveThree',
          icon   : 'images/3.jpg',
          value  : '3',
          text   : '+3',
          random : 1,
          status : 'store'
        },
        {
          id     : 7,
          name   : 'positiveThree_1',
          icon   : 'images/3.jpg',
          value  : '3',
          text   : '+3',
          random : 1,
          status : 'store'
        },
        {
          id     : 8,
          name   : 'positiveTwo',
          icon   : 'images/2.jpg',
          value  : '2',
          text   : '+2',
          random : 1,
          status : 'store'
        },
        {
          id     : 9,
          name   : 'positiveTwo_1',
          icon   : 'images/2.jpg',
          value  : '2',
          text   : '+2',
          random : 1,
          status : 'store'
        },
        {
          id     : 10,
          name   : 'positiveOne',
          icon   : 'images/1.jpg',
          value  : '1',
          text   : '+1',
          random : 1,
          status : 'store'
        },
        {
          id     : 11,
          name   : 'positiveOne_1',
          icon   : 'images/1.jpg',
          value  : 1,
          text   : '+1',
          random : 1,
          status : 'store'
        },
        {
          id     : 12,
          name   : 'negativeOne',
          icon   : 'images/1.jpg',
          value  : -1,
          text   : '-1',
          random : 1,
          status : 'store'
        },
        {
          id     : 13,
          name   : 'negativeTwo',
          icon   : 'images/2.jpg',
          value  : -2,
          text   : '-2',
          random : 1,
          status : 'store'
        },
        {
          id     : 14,
          name   : 'negativeThree',
          icon   : 'images/3.jpg',
          value  : -3,
          text   : '-3',
          random : 1,
          status : 'store'
        },
        {
          id     : 15,
          name   : 'negativeFour',
          icon   : 'images/4.jpg',
          value  : -4,
          text   : '-4',
          random : 1,
          status : 'store'
        },
        {
          id     : 16,
          name   : 'negativeFive',
          icon   : 'images/5.jpg',
          value  : -5,
          text   : '-5',
          random : 1,
          status : 'store'
        },
        {
          id     : 17,
          name   : 'negativeSix',
          icon   : 'images/6.png',
          value  : -6,
          text   : '-6',
          random : 1,
          status : 'store'
        },
        {
          id     : 18,
          name   : 'dragon',
          icon   : 'images/dragon.png',
          value  : 0,
          text   : 'Dragon',
          random : 1,
          status : 'store'
        },
        {
          id     : 19,
          name   : 'goldMine',
          icon   : 'images/goldmine.png',
          value  : 0,
          text   : 'Gold<br/>Mine',
          random : 1,
          status : 'store'
        },
        {
          id     : 20,
          name   : 'mountain',
          icon   : 'images/mountain.svg',
          value  : 0,
          text   : 'Mountain',
          random : 1,
          status : 'store'
        },
        {
          id     : 21,
          name   : 'mountain_1',
          icon   : 'images/mountain.svg',
          value  : 0,
          text   : 'Mountain',
          random : 1,
          status : 'store'
        }
      ];
    </script>

  </body>
</html>